* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Patua One", serif;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2rem 2rem; 
    font-weight: 400;
    font-style: normal;
    min-height: 8rem;
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.125rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: white;
    margin: 0 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;    
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem; 
    padding-bottom: 6rem;
}


body > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0e0e0;
    width: 100%;
    max-width: 20rem;
    height: 5.5rem;
    padding: 1rem;
    margin: 1rem 0;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0.063rem solid #d0d0d0;
}

body > a img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

p {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 0.125rem solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: white;
    margin: 0 1rem;
}

footer a {
    width: 6rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

footer img {
    width: 2rem;
    height: 2rem;
}

.foot {
    background-color: white;
}

.imgf {
    width: 2rem;
    height: 2rem;
}

.home {
    width: 4.5rem;
    height: 4.5rem;
}
