* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2rem 2rem;
    font-weight: 400;
    font-style: normal;
    min-height: 25rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.125rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: white;
    margin: 0 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 6rem;
}

.item-list {
    list-style: none;
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0e0e0;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 1rem;
    width: 100%;
    max-width: 20rem;
}

.item label {
    display: flex;
    align-items: center;
    width: 100%;
}

.item input[type="checkbox"] {
    margin-right: 1rem;
    transform: scale(1.5);
}

.item span {
    font-size: 1.25rem;
    color: black;
}

.add-item-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    width: 100%;
    max-width: 20rem;
}

.add-item-form label {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.add-item-form input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    border: .1rem solid #d0d0d0;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.add-item-form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 0.125rem solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: white;
    margin: 0 1rem;
}

footer a img {
    width: 2rem;
    height: 2rem;
}

.home-icon {
    width: 4.5rem;
    height: 4.5rem;
}
