html, body{ 
    width: 100%;
    font-family: Arial, sans-serif;
}

img{
    width: 3rem;
    height: 3rem;
}

header{
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

main{
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul{
    display: flex;
    flex-direction: row; 
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}



.titulo{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
    margin-right: 45px;
}

.transporte-item {
    width: 9rem;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0.5rem;
    padding-top: 1rem;
    border-radius: 10%;
}

.linha{
    display: flex;
    flex-direction: row;
}
