html, body{ 
    width: 100%;
    font-family: Arial, sans-serif;
}

img{
    width: 100px;
    height: 100px;
}

header{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.transporte-item {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    padding: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
}

.linha{
    display: flex;
    flex-direction: row;
}
